
.bg-header-color {
background-color: gray;
border: solid black;
}
.container {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black;
    margin: 2%;
}
.usuario {
    height: 400px;
    width: 800px;
}
footer {
    background-color: gray;
    border: solid black;
}
body {
    background-image: url(/imagenes/fondo.jpg);
}
.main {
    background-color: gray;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 10%;
    padding: 5%;
}
.futbol {
    height: 250px;
    width: 250px;
    display: flex;
    border: solid black;
    margin: 2%;
}
.css-logo {
    display: flex;
height: 200px;
width: 200px;
border: solid white;
background-color: gray;
}
.html-logo {
    display: flex;
    height: 200px;
    width: 200px;
    border: solid white;
    background-color: gray;
}
.pseint-logo {
    display: flex;
    height: 200px;
    width: 200px;
    border: solid white;
    background-color: gray;
}