.bg-header-color {
    background-color: gray;
    border: solid black;
}

.flex-container {
    background: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black;
    margin: 5%;
    width: auto;
    padding: auto;
}

.usuario {
    height: 400px;
    width: 400px;
}

footer {
    background-color: gray;
    border: solid black;
}

body {
    background-image: url(/imagenes/fondo.jpg);

}

.main {
    background-color: gray;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5%;
    padding: 5%;
    border: solid black;
}

.fw-bold {
    display: flex;
    text-align: center;
}

.fotos {
    height: 250px;
    width: 250px;
    margin: 10px;
    border: solid black;
}

.css-logo {
    width: 60%;
    margin: auto;
    display: block;
    border: solid rgb(70, 70, 70);
    background-color: rgb(92, 92, 92);
}

.html-logo {
    width: 60%;
    margin: auto;
    display: block;
    border: solid rgb(70, 70, 70);
    background-color: rgb(92, 92, 92);
}

.pseint-logo {
    width: 60%;
    margin: auto;
    display: block;
    border: solid rgb(70, 70, 70);
    background-color: rgb(92, 92, 92);
}

.mains {
    background-color: gray;
    color: black;
    margin: 3%;
    padding: 1%;
    text-align: center;
}